
    <form method="post">
        {% csrf_token %}
        <label for="nombre_vet">Nombre Veterinario:</label>
        <input type="text" name="Nombre" required><br>
        <label for="apellido_vet">Apellido Veterinario:</label>
        <input type="text" name="Apellido" required><br>
        <label for="telefono_vet">Telefono Veterinario:</label>
        <input type="text" name="Telefono" required><br>
        <label for="legajo">Legajo:</label>
        <input type="text" name="Legajo" required><br>
        <button type="submit">Guardar</button>
    </form>
