
<form method="post">
    {% csrf_token %}
    <label for="nombre_cli">Nombre Cliente:</label>
    <input type="text" name="apellido_cli" required><br>
    <label for="apellido_cli">Apellido Cliente:</label>
    <input type="text" name="apellido_cli" required><br>
    <label for="telefono_cli">Telefono Cliente:</label>
    <input type="text" name="apellido_cli" required><br>
    <label for="mail">Mail Cliente:</label>
    <input type="text" name="mail" required><br>
    <button type="submit">Guardar</button>
</form>